body {
  font-family: 'Fira Mono', sans-serif;
  margin: auto;

}

.header{
  text-align: center;
}
.chicago-icon{
  height: 50px;
  width: 50px;
  color: white;
}
#logo-pic{
  height: 300px;
  width: 300px;
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
  float: left;
  margin-right: 75px;
}

.brand-logo{
  margin-top: 5px;
}

.title-header{
  border-radius: 4px;
  border: solid 3px rgba(232, 232, 232, 0.96);
  background-color: rgba(232, 232, 232, 0.6);
  text-align: center;
  margin-bottom: 50px;
}

p{
  text-align: justify;
}

a{
  text-align: center;
  margin: auto;
}

#ref-titles{
  margin-top: 15px;
}

.projects{
  height: 300px;
  width: 300px;
  border-radius: 4px;
  border: solid 3px rgba(232, 232, 232, 0.96);
  text-align: center;
  margin-bottom: 20px;

}

.sytycs{
  font-family: 'Satisfy', cursive, serif!important;
}

.chomp{
  font-family: 'Special Elite', serif!important;
}

.whowhatwhere{
  font-family: 'Economica', sans-serif!important;
}

.pitch{
  margin: 30px;
  text-align: justify;
}

.left-side{
  position: relative;
  float: left;
  margin-left: 30px;
}

.right-side{
  position: relative;
  float: right;
  margin-right: 30px;
}

.nav-wrapper{
  margin: 10px;
}

.card{
  text-align: center;
}
